@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

body {
	margin:0;
	width:100vw;
	height:100vh;
	overflow:hidden;
	font-family: 'McLaren', cursive;
}

nav {
	position:absolute;
	display:flex;
	flex-direction:row-reverse;
	gap:20px;
	right:20px;
	color:white;
}

nav a {
	color: white;
	text-decoration:none;
	padding: 0.5em;
}

nav a:hover{
	background-color:#ffffff75;
	color:black;
	border-radius:3px;
}

main {
	background-image: url("https://xn--jv9h.qoom.space/Doggo/martin-dalsgaard-sGV1QDMM0Gg-unsplash(1).jpg");
	width:100%;
	height:100%;
	background-size:cover;
	background-position:50% 50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}

main div {
	background-color:#ffffff75;
	margin:0 40px;
	border-radius:10px;
	padding:20px;
}

main div h1 {
	margin:0;
	font-size: 96px;
	color:#003200;
	text-align:center;
}

main div h2 {
	font-size:36px;
	text-align:center;
}

footer {
	position:absolute;
	bottom:0;
	height:30px;
	width:100vw;
	color:white;
	text-align:center;
}